      p {
        font-family: 'helvetica neue', helvetica, sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
        border: 2px solid rgba(218,36,39,0.91);
        background: rgba(218,228,15,0.87);
        color: rgba(228,15,26,0.94);
        box-shadow: 1px 1px 2px rgba(228,136,15,0.94);
        border-radius: 10px;
        padding: 3px 10px;
        display: inline-block;
        cursor: pointer;
      }